Project : Superstore Sales Data  Analysis

In [3]:
import pandas as pd
import numpy as np

# Load Data
df = pd.read_csv("/content/train (1).csv")

print("Missing Before:\n", df.isnull().sum())

# Cleaning

# Fill Age with median
df['Age'] = df['Age'].fillna(df['Age'].median())

# Fill Embarked with mode
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Drop Cabin column
df = df.drop(columns=['Cabin'])

print("\nMissing After:\n", df.isnull().sum())

# Basic Statistics

print("\nMean Age:", df['Age'].mean())
print("Median Age:", df['Age'].median())
print("Passenger Count:", df['PassengerId'].count())

# Feature Engineering

df['FamilySize'] = df['SibSp'] + df['Parch']

bins = [0,12,18,35,60,100]
labels = ['Child','Teen','Young Adult','Adult','Senior']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels)

# Survival Analysis

print("\nSurvival by Gender:\n", df.groupby('Sex')['Survived'].mean())
print("\nSurvival by Class:\n", df.groupby('Pclass')['Survived'].mean())
print("\nSurvival by Age Group:\n", df.groupby('AgeGroup')['Survived'].mean())

# Correlation

print("\nCorrelation Matrix:\n")
print(df.corr(numeric_only=True))

print("\nEDA Completed Successfully!")

Missing Before:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing After:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

Mean Age: 29.36158249158249
Median Age: 28.0
Passenger Count: 891

Survival by Gender:
 Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

Survival by Class:
 Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

Survival by Age Group:
 AgeGroup
Child          0.579710
Teen           0.428571
Young Adult    0.353271
Adult          0.400000
Senior         0.227273
Name: Survived, dtype: float64

Correlation Matrix:

             PassengerId  Survived    Pclass       Age     SibSp     Parch  \
PassengerId     1.000000 -0.005007 -0.035144  0.034212 -0.057527 -0.001652
Survived       -0.005007  1.000000 -0.338481 -0.064910 -0.035322  0.081629
Pclass         -0.035144 -0.338481  1.000000 -0.339898  0.083081  0.018443
Age             0.034212 -0.064910 -0.339898  1.000000 -0.233296 -0.172482
SibSp          -0.057527 -0.035322  0.083081 -0.233296  1.000000  0.414838
Parch          -0.001652  0.081629  0.018443 -0.172482  0.414838  1.000000
Fare            0.012658  0.257307 -0.549500  0.096688  0.159651  0.216225
FamilySize     -0.040143  0.016639  0.065997 -0.245619  0.890712  0.783111

                 Fare  FamilySize
PassengerId  0.012658   -0.040143
Survived     0.257307    0.016639
Pclass      -0.549500    0.065997
Age          0.096688   -0.245619
SibSp        0.159651    0.890712
Parch        0.216225    0.783111
Fare         1.000000    0.217138
FamilySize   0.217138    1.000000

EDA Completed Successfully!

/tmp/ipython-input-2493282215.py:40: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print("\nSurvival by Age Group:\n", df.groupby('AgeGroup')['Survived'].mean())

In [4]:
import pandas as pd
df = pd.read_csv("/content/train (1).csv")
df.head()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q